<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <!---start-content---->
    <div class="content">
        <!--start-plans-successpage---->
        <div class="error-page">
            <h3>Email sending successfully ! </h3>
            <p>Click <a href="~/" font-color="red">Here</a> to back to the HomePage.</p>
        </div>
        <!--End-plans-successpage---->
        <div class="clear"> </div>
    </div>
    <!---End-content---->
</body>
</html>
